<div class="weather-app-container">
  <div class="left-section">
    <div *ngIf="forecastForCurrentCity as weatherData">
      <div class="current-date">{{getFormattedDate(weatherData.dt)}}</div>
      <div class="temp-city-container">
      <div class="temp">{{getTemperature(weatherData.main.temp)}}<sup class="degree">&#176;</sup></div>
      <div class="country">{{weatherData.sys.country}}</div>
      <div class="city">{{weatherData.name}}</div>
    </div>
    </div>
  </div>
  <div class="right-section">
      

   
      <div class="tab-titles">
        <span (click)="selectTab('Today')" class="custom-tab" [ngClass] = "{'selected': currentTab == 'Today'}">Today</span>
        <span (click)="selectTab('Week')" class="custom-tab" [ngClass] = "{'selected': currentTab == 'Week'}">Week</span>
        <span (click)="selectTab('Month')" class="custom-tab" [ngClass] = "{'selected': currentTab == 'Month'}">Month</span>
      </div>

      <div [ngSwitch]="currentTab" style="height: 200px !important; margin-left: 0px;">
        <div *ngSwitchCase="'Today'">
           
        </div>
        <div *ngSwitchCase="'Week'">
          <div *ngIf="fiveDayForecast">
            <table class="table table-borderless month-table" >
                <thead>
                  <tr>                        
                    <th scope="col">Date</th>
                    <th scope="col">Temp</th>
                    <th scope="col">Condition</th>
                  </tr>
                </thead>
                <tbody>
      
                  <tr *ngFor="let day of fiveDayForecast.list">
                    <td>{{getFormattedDate(day.dt)}}</td>
                    <td>{{getTemperature(day.main.temp)}}<sup class="degree">&#176;</sup></td>
                    <td>{{day.weather[0].description}}</td>
                  </tr>
                
                </tbody>
              </table>
            </div>
        </div>
        <div *ngSwitchCase="'Month'">
            <div *ngIf="sixteenDayForecast">
            <table class="table table-borderless month-table" >
                <thead>
                  <tr>                        
                    <th scope="col">Date</th>
                    <th scope="col">Temp</th>
                    <th scope="col">Condition</th>
                  </tr>
                </thead>
                <tbody>
      
                  <tr *ngFor="let day of sixteenDayForecast.list">
                    <td>{{getFormattedDate(day.dt)}}</td>
                    <td>{{getTemperature(day.temp.day)}}<sup class="degree">&#176;</sup></td>
                    <td>{{day.weather[0].description}}</td>
                  </tr>
                
                </tbody>
              </table>
        </div>
        </div>


      </div>
     
  </div>
</div>

